@charset "utf-8";

html{
	font-size: 6.25%;
}

*, *::before, *::after{
 	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
	color: #fafafa;
 	text-decoration: none;
}

.clearfix::after{
 	content: '';
 	display: block;
 	clear: both;
}

.hidden{
 	display: none;
}

body{
 	color: #000;
 	font-size: 16rem;
	line-height: 1.5;
 	font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

header, footer{
	color: #fafafa;
	background-color: #ec715f
}

h1{
	font-size: 64rem;
	padding: 200px 0 10px 0;
	font-weight: bold;
}

h2{
	font-size: 32rem;
	text-align: center;
	position: relative;
	font-weight: bold;
}
h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #ec715f;
  border-radius: 2px;
}
h3{
	font-size: 20rem;
	margin: 10px 0;
	font-weight: bold;
}

.contents{
	padding: 90px 0;
}
.lead{
	padding: 38px 0 30px 0;
	text-align: center;
}
.lead2{
	margin: 5px 0 20px 0;
	text-align: left;
}
/*======================
header
======================*/
.header_wrap{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.main_logo img{
	height: 70px;
}
.back_color{
	background-color: #eceff1;
}
.gnav ul{
	display: flex;
	height: 70px;
}
.gnav ul li{
	font-size: 0;
	margin: 0 30px;
	align-self: center;
}
.gnav ul li a{
	font-size: 16rem;
}
/*======================
main
======================*/


/*======================
top_img
======================*/
.top_img{
	height: 650px;
	background: url("../img/code.png");
	background-size: cover;
}
.site_title{
	text-align: center;
	color: #fafafa;
}

/*======================
portfolio
======================*/
.portfolio{
	width: 920px;
	margin: 0 auto;
}
.portfolio_img{
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio img{
	width: 300px;
	height: 250px;
	margin-bottom: 10px;
}




/*======================
feature
======================*/
.feature{
	width: 980px;
	margin: 0 auto;
}
.feature-wrap{
	display: flex;
	justify-content: space-between;
}
.feature-item{
	width: 320px;
	text-align: center;
}
.feature-item i{
		font-size: 60rem;
}


/*======================
profile
======================*/
.profile{
	width: 1024px;
	margin: 0 auto;
}
.profile_wrap{
	display: flex;
	justify-content: center;
}
.profile_left, .profile_right{
	width: 512px;
}
.profile_left{
	align-self: center;
	display: flex;
	justify-content: center;
}
.profile_left img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}



/*======================
contact
======================*/
.contact{
	width: 800px;
	margin: 0 auto;
}
.contact_wrap{
	display: flex;
	justify-content: center;
}
.contact_left, .contact_right{
	width: 400px;
}
.contact_right ul{
	display: flex;
}
.contact_right ul li{
	margin-right: 20px;
}
.contact_right ul li a{
	color: #000;
}
.contact_right ul li a i{
	font-size: 50px;
}
.contact_left_wrap, .contact_right_wrap{
	margin-left: 120px;
}






/*======================
footer
======================*/
.copyright{
	height: 60px;
	line-height: 60px;
	text-align: center;
}



/*@media screen and (max-width:767px){
	.main-profile-right{
	width: 90%;
	text-align: center;
}*/
