@charset "utf-8";

html{
	font-size: 6.25%;
}

*, *::before, *::after{
 	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
	color: #fafafa;
 	text-decoration: none;
}

.clearfix::after{
 	content: '';
 	display: block;
 	clear: both;
}

.hidden{
 	display: none;
}

body{
 	color: #000;
 	font-size: 16rem;
 	font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

header, footer{
	color: #fafafa;
	background-color: #ec715f
}

h1{
	font-size: 64rem;
	padding: 200px 0 10px 0;
}

h2{
	font-size: 32rem;
	text-align: center;
	padding: 90px 0 0 0;
}
h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #ec715f;
  border-radius: 2px;
}
/*======================
header
======================*/
.header_wrap{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.main_logo img{
	height: 70px;
}

/*======================
main
======================*/

.top_img{
	height: 650px;
	background: url("../img/code.png");
	background-size: cover;
}

.portfolio{
	width: 920px;
	margin: 0 auto;
}
.feature{
	width: 980px;
	margin: 0 auto;
}
.profile{
	width: 1024px;
	margin: 0 auto;
}
.contact{
	width: 800px;
	margin: 0 auto;
}
.gnav ul{
	display: flex;
	height: 70px;
}
.gnav ul li{
	font-size: 0;
	margin: 0 30px;
	align-self: center;
}

.gnav ul li a{
	font-size: 16rem;
}
.site_title{
	text-align: center;
	color: #fafafa;
}
/*======================
footer
======================*/
.copyright{
	height: 60px;
	line-height: 60px;
	text-align: center;
}



/*@media screen and (max-width:767px){
	.main-profile-right{
	width: 90%;
	text-align: center;
}*/
