@charset "utf-8";

html{
	font-size: 6.25%;
}

*, *::before, *::after{
 	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active{
	color: #fafafa;
 	text-decoration: none;
}

.clearfix::after{
 	content: '';
 	display: block;
 	clear: both;
}
@media screen and (min-width:767px) {
	.pc_hidden{
	 	display: none;
	}
}
@media screen and (max-width:767px) {
	.sp_hidden{
	 	display: none;
	}
}

body{
 	color: #000;
 	font-size: 16rem;
	line-height: 1.5;
 	font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

header, footer{
	color: #fafafa;
	background-color: #ec715f
}

h1{
	font-size: 64rem;
	padding: 200px 0 10px 0;
	font-weight: bold;
}

h2{
	font-size: 32rem;
	text-align: center;
	position: relative;
	font-weight: bold;
}
h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #ec715f;
  border-radius: 2px;
}
h3{
	font-size: 20rem;
	margin: 10px 0;
	font-weight: bold;
}

.contents{
	padding: 90px 0;
}
.lead{
	padding: 38px 0 30px 0;
	text-align: center;
}
.lead2{
	margin: 5px 0 20px 0;
	text-align: left;
}
main > .contents:nth-of-type(even){
		background-color: #eceff1;
}
/*======================
header
======================*/
.header_wrap{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width:767px) {
	.header_wrap{
		width: 90%;
	}
	.header_wrap i{
		align-self: center;
		font-size: 44rem;
		padding: 15px 8px 0 0;
	}
}

.main_logo img{
	height: 70px;
}

.gnav ul{
	display: flex;
	height: 70px;
}
.gnav ul li{
	font-size: 0;
	margin: 0 30px;
	align-self: center;
}
.gnav ul li a{
	font-size: 16rem;
}

@media screen and (max-width:767px) {
	#menu{
		width: 100%;
		position: absolute;
		top: 0
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.9);
		color: #fff;
		display: none;
	}
	#menu ul{
		list-style: none;
		margin: 0;
		padding: 10px 20px;
		display: block;
		height: auto;
		float: left;
	}
	#menu ul li{
		line-height: 2;
}
	#menu ul li a{
		text-decoration: none;
		color: inherit;
	}
	#menu.shown{
		display: block;
	}
	#close_menu{
		padding: 15px 30px 0 0;
		float: right;
		cursor: pointer;
	}
}

/*======================
main
======================*/


/*======================
top_img
======================*/
.top_img{
	height: 650px;
	background: url("../img/mv.png");
	background-size: cover;
}
@media screen and (max-width:767px) {
	.top_img{
		background: url("../img/code.png");
	}
}
.site_title{
	text-align: center;
	color: #fafafa;
}

/*======================
portfolio
======================*/
.portfolio{
	width: 920px;
	margin: 0 auto;
}
@media screen and (max-width:767px) {
	.portfolio{
		width: 90%;
	}
}
.portfolio_img{
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio_img img{
	width: 300px;
	height: 250px;
	object-fit: cover;
	margin-bottom: 10px;
}
@media screen and (max-width:767px) {
	.portfolio_img{
		justify-content: center;
	}
}



/*======================
feature
======================*/
.feature{
	width: 980px;
	margin: 0 auto;
}
@media screen and (max-width:767px) {
	.feature{
		width: 90%;
	}
}
.feature-wrap{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width:767px) {
	.feature-wrap{
		justify-content: center;
		flex-wrap: wrap;
	}
}

.feature-item{
	width: 320px;
	text-align: center;
}
@media screen and (max-width:767px) {
  .feature-item{
  	width: 90%;
  }
}

.feature-item i{
		font-size: 60rem;
}


/*======================
profile
======================*/
.profile{
	width: 1024px;
	margin: 0 auto;
}
@media screen and (max-width:767px) {
	.profile{
		width: 90%;
	}
}
.profile_wrap{
	display: flex;
	justify-content: center;
}
@media screen and (max-width:767px) {
	.profile_wrap{
		justify-content: center;
		flex-wrap: wrap;
	}
}
.profile_left, .profile_right{
	width: 512px;
	word-wrap: break-word;
}
@media screen and (max-width:767px) {
	.profile_left, .profile_right{
		width: 90%;
	}
}
.profile_left{
	align-self: center;
	display: flex;
	justify-content: center;
}
.profile_left img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
@media screen and (max-width:767px) {
	.profile_right{
		text-align: center;
	}
}


/*======================
contact
======================*/
.contact{
	width: 800px;
	margin: 0 auto;
}
@media screen and (max-width:767px) {
	.contact{
		width: 90%;
	}
}
.contact_wrap{
	display: flex;
	justify-content: center;
}
@media screen and (max-width:767px) {
	.contact_wrap{
		justify-content: center;
		flex-wrap: wrap;
	}
}
.contact_left, .contact_right{
	width: 400px;
}
@media screen and (max-width:767px) {
	.contact_left, .contact_right{
		width: 90%;
	}
}
.contact_right ul{
	display: flex;
}
@media screen and (max-width:767px) {
	.contact_right ul{
		justify-content: center;
	}
}
.contact_right ul li{
	margin-right: 20px;
}
.contact_right ul li:last-child {
  margin-right: 0;
}
.contact_right ul li a{
	color: #000;
}
.contact_right ul li a i{
	font-size: 50px;
}
.contact_left_wrap, .contact_right_wrap{
	margin-left: 120px;
}
@media screen and (max-width:767px) {
	.contact_left_wrap, .contact_right_wrap{
		margin: 0 auto;
		text-align: center;
	}
}
/*======================
footer
======================*/
.copyright{
	height: 60px;
	line-height: 60px;
	text-align: center;
}



/*@media screen and (max-width:767px){
	.main-profile-right{
	width: 90%;
	text-align: center;
}*/
